# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.tmp/

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# Logs
*.log

# macOS
.DS_Store

# Node
node_modules/

# React
dist/

# Testing
.pytest_cache/
.coverage

# Alembic
backend/alembic/versions/*.pyc

# Misc
*.sqlite3

backend/data
backend/scripts
backend/playground