# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.tmp/

# Environment
.env
0
# IDE
.vscode/
.idea/

# Logs
*.log

# macOS
.DS_Store

# Node
node_modules/

# React
dist/

# Testing
.pytest_cache/
.ruff_cache/
.mypy_cache/
.pyre/
.hypothesis/
.coverage
.coverage.*
htmlcov/

# Alembic
backend/alembic/versions/*.pyc

# Misc
*.pdf
*.db
*.sqlite
*.sqlite3
*.sqlite-wal
*.sqlite-shm

backend/storage/
backend/data/
backend/scripts/
backend/playground/
